 .clmnlist {
  width: 100% ;
  height: 80vh ;
  display: flex;
  justify-content: space-between ; 
  gap: 10px;
}

.column {
  width: 100%;
  border: solid;
  font-size: 25px;
  padding: 2px 160px;
  overflow: scroll;
  object-fit: contain;
  background-color: antiquewhite;
  align-items: flex-start;
}